<!DOCTYPE html>
<html>
<head>

<%- include("./partials/head.ejs") %>
</head>
<body>
    <main>
        <%- include("./partials/home/nav.ejs") %>
        <%- include("./partials/home/hero.ejs") %>
        <%- include("./partials/home/marketplace.ejs") %>
        <%- include("./partials/home/collections.ejs") %>
        <!-- <%- include("./partials/home/top-sellers.ejs") %> -->
        <div class="vastmint-steps">
            <%- include("./partials/home/create-nft.ejs") %>
        </div>
        <%- include("./partials/home/footer.ejs") %>
        <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/27175784.js"></script>
    </main>
    
</body>
</html>