<!DOCTYPE html>
<html>
<head>

<%- include("./partials/head.ejs") %>
<style>
    .whatsapp-container{
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 80px;
    display:flex;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    color: #fff;
   z-index: 10;
   } 
   .whatsapp-container button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #25d366;
    color: #fff;
   }
</style>
</head>
<body>
    <%- include('./partials/whatsappChat.ejs') %>
    <main>
        <%- include("./partials/home/nav.ejs") %>
        <%- include("./partials/home/hero.ejs") %>
        <%- include("./partials/home/marketplace.ejs") %>
        <%- include("./partials/home/collections.ejs") %>
        <!-- <%- include("./partials/home/top-sellers.ejs") %> -->
        <div class="vastmint-steps">
            <%- include("./partials/home/create-nft.ejs") %>
        </div>
        <%- include("./partials/home/footer.ejs") %>
        <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/27175784.js"></script>
    </main>
    
</body>
</html>