<!DOCTYPE html>
<html>
<head>
<%- include("./partials/head.ejs") %>
<style>
  .error-container{
    max-width: 500px;
    text-align:center;
    margin-inline:auto;
    padding:1em;
}
.metadata{
  border-radius: 8px;
  padding:1em 10px;
}
.metadata-header{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}
.metadata-title{
  font-size: 18px;
  font-weight: 600;
  margin-block: 0.25em;
}
.metadata-text{
  margin-bottom: 0.5em;
}
.metadata-btn{
  border-radius: 6px;
  padding:0.4em;
  color: #fff;
}
</style>
</head>
<body>
    <%- include('./partials/home/nav.ejs') %>
    <main>
      <section class="vastmint-marketplace-page">
        <section class="marketplace-main">
          <% if (response.status == "failed") { %>
             <% if (response.status_code == "404") { %>
              <div class="error-container">
                <img src="/assets/404.svg" alt="page-not-found" style="max-width:380px;margin-bottom:0.5em">
                    <h3 style="font-size: 24px;margin-bottom:0.5em;">NFT Not Found</h3>
                    <p><%= response.error %></p><br>
                <button 
                onclick="window.history.back()" 
                class="vastmint-primary-400 vastmint-text-white" 
                style="padding:10px 16px;border-radius:30px;border:none;cursor:pointer;">
                Go Back
            </button>
            </div>
             <% }else{ %>
              <div class="error-container p-3 mx-auto" style="max-width: 500px;">
                <img src="/assets/500.svg" alt="">
                <p class="fw-semibold mb-0" style="font-size: 30px;">Server Error</p>
                <p class="mb-0">Sorry could not get this content due some server error Please try again later while we sort this issue out</p><br>
                <button 
                onclick="window.location.reload()" 
                class="mt-0 btn vastmint-primary-400 vastmint-text-white" 
                style="padding:10px 16px;border-radius:30px;border:none;cursor:pointer;">Refresh</>
            </div>
             <% } %>
          <% }else{ %>
            <%- include('./partials/marketplace/nft_banner.ejs') %>
            <br>
            <%- include('./partials/marketplace/nft_activity.ejs') %>
            <br>
            <div class="vastmint-dark metadata">
              <p class="metadata-header">Meta Data</p>
              <div class="">
                  <div class="">
                    <% meta_data = JSON.parse(response.nft.meta_data) %>
                     <p class="metadata-title">Contract Address</p>
                     <a href="https://etherscan.io/token/<%= meta_data.contract_address %>" style="word-wrap:break-word;display:block;margin-bottom:0.5em"><%= meta_data.contract_address %></a>
                     <p class="metadata-title">Token ID</p>
                     <p class="meta-data-text"><%= meta_data.token_id %></p>
                     <p class="metadata-title">Token Name</p>
                     <p class="meta-data-text"><%= meta_data.token_name %></p><br>
                     <a href="<%= response.nft.nft_img %>" class="metadata-btn vastmint-dark-2">See Original Image</a>
                  </div> 
              </div>
           </div> <br>
            <%- include('./partials/marketplace/related_nfts.ejs') %>
          <% }%>
        </section>
      </section>
    </main>
    
</body>
</html>