<!DOCTYPE html>
<html>
<head>
<%- include("./partials/head.ejs") %>
<style>
    .error-container{
        max-width: 500px;
        text-align:center;
        margin-inline:auto;
        padding:1em;
    }
    .item-activity{
        border-radius: 10px;
        padding: 1em;
        margin-top: 2em;
    }
    .item-activity .title{
     padding-block: 0.6em;
     border-bottom: 1px solid lightgrey;
    }
    table {
     width: 100%;
    }
    .table{
      max-width: 100%;
      overflow-y: auto;
    }
    table th{
      text-align: left;
    }
    .status{
     display: inline-block;
     margin-top: 0.4em;
     padding: 0.4em 0.7em;
     font-weight: 600;
     border-radius: 10px;
    }
</style>
</head>
<body>
    <%- include('./partials/home/nav.ejs') %>
    <main>
        <section class="el-container">
        <% if (response.status !== "success") { %>
            <div class="error-container">
                <img src="/assets/500.svg" alt="">
                <p class="fw-semibold mb-0" style="font-size: 30px;">Internal Server Error</p>
                <p class="mb-0">Sorry could not get this content due some server error Please try again later while we sort this issue out</p><br>
                <button 
                onclick="window.location.reload()"
                class="vastmint-primary-400 vastmint-text-white"  
                style="padding:10px 16px;border-radius:30px;border:none;cursor:pointer;">
                 Refresh
                </>
            </div>
        <% }else{%>
            <h3 class="vastmint-text-primary-500" style="font-size: 25px;text-align:center;">Your Orders</h3>
            <p style="font-size: 15px;text-align:center;">Pending orders will be pending until approved you will recieve a mail please wait patiently</p>
            <% if (response.orders.length > 0) { %>
                <section class="item-activity vastmint-white vastmint-card">
                    <p class="title">Order History</p>
                    <br>
                    <div class="table">
                      <table>
                        <tr>
                            <th>Order ID</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                        <% for( history of response.orders) { %>
                            <tr style="text-transform: capitalize;">
                              <td style="min-width: 180px;"><%= history.order_id %></td>
                              <td style="min-width: 180px;"><%= history.amount %>ETH</td>
                              <td style="min-width: 180px;"><span class="status <%= history.status == "pending"?"vastmint-light-100":"vastmint-primary-100 vastmint-text-white" %>"><%= history.status %></span></td> 
                              <td style="min-width: 180px;"><%= new Date(history.createdAt).toUTCString()%></td>
                            </tr>
                        <% } %>
                      </table>
                    </div>
                  </section>
                 <% if (response.pages > 1) { %>
                  <div class="pagination">
                    <% if (response.prev) { %>
                      <a href="/sellers?page=<%=response.prev %>"  class=""><i class="bi bi-chevron-left"></i></a>
                    <% } %>
                    <% const current_page = parseFloat(response.page) !== 1?parseFloat(response.page) - 1:1%>
                    <% const pagesShown = parseFloat(response.page) + 3 < response.pages? parseFloat(response.page) + 3:response.pages + 1 %>
                    <% for( let index = current_page; index < pagesShown; index++ ) { %>
                      <a href="/sellers?page=<%= index %>"  class="<%= response.page == index?"vastmint-dark-2 active vastmint-text-white":"" %>>"><%= index %></a>
                    <% } %>
                    <% if (response.next <= response.pages) { %>
                    <a href="/sellers?page=<%=response.next %>"  class=""><i class="bi bi-chevron-right"></i></a>
                    <% } %>
                  </div>
                 <% } %>
            <% }else{ %>
                <br><br>
                <div class="" style="max-width: 500px;margin:1em auto;text-align:center">
                    <img src="/assets/nodata.svg" style="max-width:200px" alt="">
                    <p class="fw-semibold mb-0" style="font-size: 22px;">No Orders</p>
                    <p class="mb-0">You have not made any order yet</p><br>
                </div>
            <% } %>
        <% }%>
      </section>
    </main>
    
</body>
</html>