<div class="vastmint-collections">
    <div class="vastmint-grid">
       <% for( let collection of response.collections) { %>
        <a href="/collections/<%= collection.collection_id %>" class="collection vastmint-dark grid-col-6 grid-col-md-6 grid-col-xs-12 vastmint-card">
            <img src="<%= collection.banner_img %>" alt="nft image">
         <div class="collection-desc">
           
            <div class="price-details">
              <div class="title-details">
                  <h3><%= collection.name%></h3>
               </div>
               <div>
                 <p class="author">@<%=collection.seller %></p>
                 <p class=""><b><%= collection.arts.length %> Art</b></p>
               </div>
            </div>
         </div>
       </a>
       <% } %>
       
    </div>
</div>