<div class="collection-banner vastmint-card vastmint-min-h-25 vastmint-grid vastmint-white">
  <div class="grid-col-6 grid-col-md-12">
     <img src="<%= response.collection.banner_img %>" alt="">
  </div>
  <div class="grid-col-6 grid-col-md-12 collection-details">
    <div>
        <h3 class="title"><%= response.collection.name %></h3>    
        <p class="vastmint-text-light-500">@<%= response.collection.seller %></p><br>
    </div>
    <div>
        <p><b><%= response.collection.nfts.length %></b> ArtWorks</p><br>
        <a href="/sellers/<%= response.collection.seller %>" class="button vastmint-primary-400 vastmint-text-white">See Artist</a>
    </div>
  </div>
</div>