<style>
    .item-activity{
        border-radius: 10px;
        padding: 1em;
    }
    .item-activity .title{
     padding-block: 0.6em;
     border-bottom: 1px solid lightgrey;
    }
    table {
     width: 100%;
    }
    .table{
      max-width: 100%;
      overflow-y: auto;
    }
    table th{
      text-align: left;
    }
</style>

<section class="item-activity vastmint-white vastmint-card">
  <p class="title">NFT History</p>
  <br>
  <div class="table">
    <table>
      <tr>
        <th>Type</th>
        <th>Price</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
      </tr>
      <% for( history of response.nft_history) { %>
      <tr style="text-transform: capitalize;">
        <td style="min-width: 150px;"><%= history.type %></td>
        <td style="min-width: 150px;"><%= parseFloat(history.amount) %>ETH</td>
        <td style="min-width: 150px;"><%= history.from %></td> 
        <td style="min-width: 150px;"><%= history.to %></td>
        <td style="min-width: 150px;"><%= new Date(history.createdAt).toUTCString()%></td>
      </tr>
      <% } %>
    </table>
  </div>
</section>