<div class="vastmint-marketplace">
    <p class="title"></p>
    <div class="vastmint-grid">
      <% for( nft of response.nfts ) { %>
        <a href="/marketplace/<%= nft.nft_id%>" class="nft vastmint-dark-2 grid-col-4 grid-col-md-6 grid-col-xs-12">
            <div class="nft-img">
               <img src="<%= nft.nft_img %>" alt="nft image">
            </div>
            <div class="nft-desc">
               <div class="title-details">
                   <h3><%= nft.name %></h3>
               </div>
               <p class="author vastmint-text-light-600">@<%= nft.seller %></p>
               <div class="price-details">
                   <p class="vastmint-text-white"><b><%= parseFloat(nft.current_price).toFixed(2) %> ETH</b></p>
                   <!-- <p class="vastmint-text-dark"><b>50 SOL</b></p> -->
               </div>
            </div>
          </a>
          
      <% } %>       
    </div>
</div>