<style>
  .relative{
    position: relative;
  }
  .sold-tag{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    padding: 0.5em 3em;
  }
</style>

<div class="vastmint-marketplace">
    <p class="title"></p>
    <div class="vastmint-grid">
      <% for( nft of response.nfts ) { %>
        <a href="/marketplace/<%= nft.nft_id%>" class="nft vastmint-white grid-col-4 grid-col-md-6 grid-col-xs-12">
            <div class="nft-img relative">
               <%if(nft.seller !== nft.owner) { %>
                 <div class="vastmint-white vastmint-text-dark sold-tag">SOLD</div>
               <% } %>
               <img src="<%= nft.nft_img %>" alt="nft image">
            </div>
            <div class="nft-desc">
               <div class="title-details">
                   <h3><%= nft.name %></h3>
               </div>
               <p class="author vastmint-text-light-600">@<%= nft.seller %></p>
               <div class="price-details">
                   <p class="vastmint-text-white"><b><%= parseFloat(nft.current_price) %> ETH</b></p>
                   <!-- <p class="vastmint-text-dark"><b>50 SOL</b></p> -->
               </div>
            </div>
          </a>
          
      <% } %>       
    </div>
</div>