<div class="vastmint-marketplace">
    <p class="title">Related NFTs</p>
    <div class="vastmint-grid">
       <% if (response.related.length > 0) { %>
        <% for( nft of response.related ) { %>
          <a href="/marketplace/<%= nft.nft_id%>" class="nft vastmint-white grid-col-4 grid-col-md-6 grid-col-xs-12">
            <div class="nft-img">
               <img src="<%= nft.nft_img %>" alt="nft image">
            </div>
            <div class="nft-desc">
               <div class="title-details">
                   <h3><%= nft.name %></h3>
               </div>
               <p class="author vastmint-text-white">@<%= nft.seller %></p>
               <div class="price-details">
                   <p class="vastmint-text-white"><b><%= parseFloat(nft.current_price).toFixed(2) %> ETH</b></p>
                   <!-- <p class="vastmint-text-dark"><b>50 SOL</b></p> -->
               </div>
            </div>
          </a>            
        <% } %>       
       <% } %>
    </div>
</div>